body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body,
#root {
  height: 100vh;
  color: #272459;
  background-color: #27245980;
}

.login-upper {
  min-height: 67vh;
}

.login-upper-left {
  background-image: url('../assets/pathfinderBgDots.png');
  background-size: cover;
  background-color: #fff;
}

.login-upper-right {
  background: linear-gradient(90deg, #fff 0%, #d9d9d9 10%);
}

.login-lower {
  height: 33vh;
  background-image: url('../assets/pathfinderLoginBg.png');
  background-size: cover;
}

.pic {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.quote {
  font-size: 1.25rem;
  font-style: italic;
  background: linear-gradient(90deg, #d9d9d9 0%, #fff 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.fake-border {
  height: 0.25rem;
  width: 100%;
  background: linear-gradient(90deg, #ffffff 0%, #d9d9d9 10%, #747474 100%);
}

.link {
  /* max-width: min-content; */
  color: inherit;
  text-decoration: inherit;
  font-style: italic;
  text-align: right;
}

.link:hover {
  text-shadow: 0 0 0.5px #272459;
  text-decoration: underline;
}

footer {
  text-align: right;
}
