#root {
  font-family: 'Montserrat', sans-serif;
  color: #26245B;
}

.shadowed {
  box-shadow:
  rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.background {
  z-index: 0;
  background-color: rgb(217, 217, 217);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.parent-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.611);
  height: 66%;
  width: 66%;
}

.child-container {
  position: absolute;
  z-index: 2;
  width: 66%;
  background-color: rgba(255, 255, 255, 0.9);
}

.font-thin {
  font-weight: 200;
}

.bg-light-semi {
  background-color: rgba(248, 249, 250, 0.8);
}

.bg-white-semi {
  background-color: rgba(255, 255, 255, 0.8);
}

.pic {
  height: 100%;
  width: 100%;
  border: 2px darkgray solid;
  border-radius: 50%;
  background-repeat: cover;
}
